:root {
  --accent-color: blue;
  --accent-bg-color: blue;
  --accent-fg-color: rgba(255,255,255,0.7);

  --window-bg-color: #333;
  --window-fg-color: #f7f7f7;

  --headerbar-bg-color: #444;
  --headerbar-fg-color: #f7f7f7;

  --panel-bg: rgba(33,33,33,0.7);
  --task-width: 42px;
  --task-height: 85%;

  --start-menu-bg: rgba(33,33,33,0.7);
  --start-app-icon-size: 48px;
  --start-sidebar-icon-size: 32px;

  --icon-hover: rgba(255,255,255,0.1);

  /* Sizes and radius */
  --window-border-radius: 8px;
  --header-bar-height: 46px;
  --taskbar-height: 48px;
  --app-icon-radius: 12px;

  /* buttons */
  --startbutton-width: 64px;
  --button-color: color-mix(in srgb, currentColor 10%, transparent);
  --button-hover: color-mix(in srgb, currentColor 20%, transparent);
  --button-radius: 4px;
  --button-padding: 6px 8px;

  /* Effects */
  --standard-fade: 100ms ease-in-out;
}

/*html {
html {
  --s: 50px;
  --c: #191b22;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
  background: 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}
}*/

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
  opacity: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: Ubuntu, sans-serif;
  background-image: url('../img/dreams.png');
  background-size: cover;
  background-color: #004b76;
  user-select: none;
  overflow: hidden;
}

.desktop {
  height: 100vh;
  width: 100vw;
}

/* TASKBAR / PANEL */

.taskbar {
  width: 100%;
  height: var(--taskbar-height);
  background-color: var(--panel-bg);
  color: var(--window-fg-color);
  position: absolute;
  bottom: 0;
  backdrop-filter: blur(5em);
  z-index: 1;
  box-shadow: 0 -1px rgba(255,255,255,0.05);
  justify-content: space-between;
  display: flex;
  align-items: left;
  z-index: 3;
}

#task-list {
  display: flex;
  height: 100%;
  width: auto;
  gap: 0.5rem;
  align-items: center;
  justify-content: left;
}

.task {
  position: relative;
  font-size: 24px;
  aspect-ratio: 1;
  border-radius: var(--button-radius);
  height: var(--task-height);
  width: var(--task-width);
  display: grid;
  place-content: center;
  transition: var(--standard-fade);
}

.task:hover {
  background-color: var(--icon-hover);
}

.task.active {
  background-color: var(--icon-hover);
  box-shadow: inset 0 -1px rgba(255,255,255,0.2);
}

.task.minimized {
  box-shadow: none;
}

.task.active:hover, .task.minimized:hover {
  background-color: rgba(255,255,255,0.15);
}

.task.active .task-indicator {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: var(--task-width);
  height: 3px;
  /*background-color: white;*/
  background: radial-gradient(circle at center, white 0, transparent 100%);
  border-radius: 3px;
  transform-origin: center;
  transition: transform .2s linear;
}

.task.minimized .task-indicator {
  position: absolute;
  bottom: 3px;
  left: 13px;
  width: 16px;
  height: 3px;
  border-radius: 3px;
  transition: transform .2s linear;
  transform: scaleX(.3);
  background-color: #999;
}

.start-button {
  height: var(--taskbar-height);
  width: var(--startbutton-width);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: var(--standard-fade);
}

.start-button:hover, .start-button.active {
  background-color: var(--icon-hover);
}

#clock-area {
  display: flex;
  height: 100%;
  width: auto;
  gap: 0.5rem;
  align-items: center;
  justify-content: right;
}

#clock {
  font-family: Ubuntu, sans-serif;
  padding: 0 12px;
  display: flex;
  height: var(--task-height);
  width: auto;
  align-items: center;
  justify-content: right;
  border-radius: var(--button-radius);
}

#clock:hover {
  background-color: var(--icon-hover);
}

#show-desktop {
  background-color: rgba(255,255,255,0.05);
  width: 12px;
  height: 100%;
  transition: var(--standard-fade);
}

#show-desktop:hover {
  background-color: var(--icon-hover);
}

#tray-area {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: right;
  border-radius: var(--button-radius);
  height: var(--task-height);
  transition: var(--standard-fade);
}

#tray-area:hover {
  background-color: var(--icon-hover);
}

.tray-item {
  font-size: 24px;
  padding: 0 6px;
}

/* START MENU */

@keyframes pop-in-app-menu {
  0% {
    transform: translateY(var(--taskbar-height));
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#start-menu {
  position: absolute;
  bottom: var(--taskbar-height);
  left: 0px;
  width: 680px;
  height: 480px;
  min-height: 480px;
  background-color: var(--start-menu-bg);
  backdrop-filter: blur(5em);
  z-index: 2;
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  border-radius: var(--window-border-radius) var(--window-border-radius) 0 0;
  animation: pop-in-app-menu 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.start-sidebar {
  float: left;
  width: var(--startbutton-width);
  min-height: 480px;
  background-color: rgba(255,255,255,0.03);
}

#start-side-favs {
  position: absolute;
  top: 0;
  width: var(--startbutton-width);
}

#start-side-system {
  position: absolute;
  bottom: 0;
  width: var(--startbutton-width);
}

.start-side-item {
  height: var(--startbutton-width);
  color: var(--window-fg-color);
  font-size: var(--start-sidebar-icon-size);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--standard-fade);
}

#start-side-favs .start-side-item:first-child {
  border-top-left-radius: var(--window-border-radius);
}

.start-side-item:hover {
  background-color: var(--icon-hover);
}

#start-menu.hidden * {
  display: none !important;
}

#app-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5em;
  justify-content: center;
  padding: 1em;
}

.app-icon {
  font-size: var(--start-app-icon-size);
  padding: 4px 4px 0 4px;
}

.app-item {
  aspect-ratio: 1;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  transition: var(--standard-fade);
}

.app-item:hover {
  background-color: var(--icon-hover);
}

.app-text {
  font-size: 0.8em;
  color: white;
  text-align: center;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  padding: 0 4px;
  max-width: 96px;
}

#start-search {
  width: 100% - var(--startbutton-width);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 0 12px;
}

#start-search input {
  border: none;
  color: var(--window-fg-color);
  background-color: rgba(255,255,255,0.1);
  width: 100%;
  height: 32px;
  border-radius: 32px;
  padding: var(--button-padding);
  box-shadow: inset 0 -1px rgba(255,255,255,0.1);
}

#start-search input:focus {
  border: none;
  outline: none;
  box-shadow: inset 0 -1px rgba(255,255,255,0.2);
}

/* WINDOWS */

@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.1); }
  100% { opacity: 1; transform: scale(1); }
}

.open-window {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 640px;
  height: 480px;
  background-color: #333;
  color: var(--window-fg-color);
  border-radius: var(--window-border-radius);
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  /*animation: pop-in 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;*/
}

.open-window.active {
  box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.7),
              0 0 0 1px rgba(0, 0, 0, 0.1);
}

.header-bar {
  height: var(--header-bar-height);
  width: 100%;
  color: var(--headerbar-fg-color);
  background-color: #444;
  border-radius: var(--window-border-radius) var(--window-border-radius) 0 0;
  display: flex;
  align-items: center;
}

.header-bar button {
  font-size: 1em;
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--headerbar-fg-color);
  border: none;
  border-radius: var(--button-radius);
	background-color: var(--button-color);
	padding: var(--button-padding);
	margin-left: 6px;
	transition: var(--standard-fade);
}

.header-bar button:hover {
  background-color: var(--button-hover);
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  right: 50%;
  position: absolute;
}

.window-controls {
  height: var(--header-bar-height);
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  right: 10px;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--button-color);
  width: 24px;
  height: 24px;
  cursor: default;
  transition: var(--standard-fade);
}

.close:hover {
  background-color: var(--button-hover);
}

.sidebar {
  border-bottom-left-radius: var(--window-border-radius);
  width: 32%;
  height: calc(100% - var(--header-bar-height));
  background-color: rgba(44,44,44,1.0);
  display: flex;
  justify-content: left;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar li {
  background: #555;
  padding: 12px;
  height: 38px;
  display: flex;
  align-items: center;
}
