:root {
  // font
  --font-family-sans: Ubuntu, sans-serif;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 3rem;

  // common colors
  --accent-bg-color: #3cb477;
  --accent-fg-color: rgba(255,255,255,0.7);

  --window-bg-color: #333;
  --window-fg-color: #f7f7f7;
  --window-outline: rgba(255,255,255,0.15);

  --header-bg-color: #404040;
  --header-fg-color: #f7f7f7;

  --header-right-bg: var(--window-bg-color);

  --sidebar-bg-color: #282828;

  --popover-bg-color: #444;
  --popover-fg-color: white;
  --popover-shadow: 0 1px 5px 1px rgba(0,0,0,0.2), 0 2px 8px 3px rgba(0,0,0,0.1);

  // misc
  --snap-preview-color: color-mix(in srgb, var(--accent-bg-color) 50%, transparent);
  --snap-preview-border: inset 0 0 0 1px color-mix(in srgb, var(--accent-bg-color) 80%, transparent);

  --sidebar-width: 240px;

  --panel-bg-maximized: rgba(33,33,33,1);
  --panel-bg: rgba(33,33,33,0.7);
  --task-width: 42px;
  --task-height: 85%;
  --task-icon-size: 24px;
  --tray-icon-size: 24px;

  --start-icon: url('../img/start-icon.webp');

  --start-menu-bg: rgba(0,0,0,0.5);
  --start-menu-outline: rgba(255,255,255,0.15);
  --start-sidebar-bg: rgba(0,0,0,0.1);
  --start-app-icon-size: 64px;
  --start-sidebar-icon-size: 32px;

  --icon-hover: rgba(255,255,255,0.1);

  --backdrop-blur: blur(5em);

  --window-border-radius: 12px;
  --header-bar-height: 46px;
  --taskbar-height: 48px;
  --app-icon-radius: 12px;
  --menu-radius: 8px;

  --startbutton-width: 64px;
  --button-color: color-mix(in srgb, currentColor 5%, transparent);
  --button-hover: color-mix(in srgb, currentColor 10%, transparent);
  --button-radius: 4px;
  --button-padding: 6px 8px;

  /* Effects */
  --standard-fade: 100ms ease-in-out;
}

* {
  box-sizing: border-box;
}

h1 { font-size: var(--font-size-4xl); }
h2 { font-size: var(--font-size-3xl); }
h3 { font-size: var(--font-size-xl); }
h4 { font-size: var(--font-size-lg); }

.hidden {
  display: none;
  opacity: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-md);
  font-family: var(--font-family-sans);
  background-image: url('../img/dreams.png');
  background-size: cover;
  background-color: #004b76;
  user-select: none;
  overflow: hidden;
}

.desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

// ICON GRID
#icon-grid {
  height: 100vh;
  width: 100vw;  
  display: grid;
  justify-content: left;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5em;
  padding: 1em;

  a {
    text-decoration: none;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    gap: 0.2em;
    width: 96px;
    height: 96px;

    border-radius: 0.3em;
    transition: var(--standard-fade);

    &:hover { background-color: var(--icon-hover); }
  }

  .icon-text {
    font-size: small;
    text-align: center;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;

    color: white;
    padding: 0 4px;
    max-width: 96px;
  }
}

// PANEL

.taskbar {
  display: flex;
  align-items: left;
  justify-content: space-between;

  width: 100%;
  height: var(--taskbar-height);
  position: absolute;
  bottom: 0;
  z-index: 3;

  background-color: var(--panel-bg);
  box-shadow: inset 0 1px rgba(0,0,0,.2);
  color: var(--window-fg-color);
  backdrop-filter: var(--backdrop-blur);
  transition: var(--standard-fade);
}

#task-list {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  height: 100%;
  width: auto;
}

.task {
  display: grid;
  aspect-ratio: 1;
  place-content: center;

  position: relative;
  height: var(--task-height);
  width: var(--task-width);

  font-size: var(--task-icon-size);
  border-radius: var(--button-radius);
  transition: var(--standard-fade);

  &:hover { background-color: var(--icon-hover); }
  &.minimized:hover, &.active:hover { background-color: rgba(255,255,255,0.15); }

  &.active {
    background-color: var(--icon-hover);
    box-shadow: inset 0 -1px rgba(255,255,255,0.2), inset 0 1px rgba(255,255,255,0.08);

    .task-indicator {
      position: absolute;
      bottom: 0px;
      left: 0px;

      width: var(--task-width);
      height: 3px;
      border-radius: 3px;

      background: radial-gradient(circle at center, white 0, transparent 100%);
      transform-origin: center;
      transition: transform .2s linear;
    }
  }

  &.minimized {
    box-shadow: none;

    .task-indicator {
      position: absolute;
      bottom: 3px;
      left: 13px;

      width: 16px;
      height: 3px;
      border-radius: 3px;

      background-color: #999;
      transform: scaleX(.3);
      transition: transform .2s linear;
    }
  }
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--taskbar-height);
  width: var(--startbutton-width);
  font-size: var(--task-icon-size);

  background-image: var(--start-icon);
  background-repeat: no-repeat;
  background-position: center; 
  transition: var(--standard-fade);

  &:hover, &.open { background-color: var(--accent-bg-color); }
}

#clock-area {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5rem;

  height: 100%;
  width: auto;
}

#clock {
  display: flex;
  align-items: center;
  justify-content: right;

  font-family: var(--font-family-sans);

  height: var(--task-height);
  width: auto;
  padding: 0 12px;
  border-radius: var(--button-radius);

  &:hover { background-color: var(--icon-hover); }
}

#date {
  display: block;
  margin-right: 8px;
}

#show-desktop {
  display: flex;
  justify-content: left;
  background-color: rgba(255,255,255,0.05);
  width: 12px;
  height: 100%;
  transition: var(--standard-fade);

  &:hover { background-color: var(--icon-hover); }
}

#show-desktop-border {
  background: radial-gradient(circle at center, rgba(255,255,255,0.2) 0, transparent 100%);
  width: 1px;
  height: 100%;
  margin: 0;
  padding: 0;
}

#tray-area {
  display: flex;
  align-items: center;
  justify-content: right;

  width: auto;
  height: var(--task-height);
  border-radius: var(--button-radius);
  transition: var(--standard-fade);

  &:hover { background-color: var(--icon-hover); }

  .tray-item {
    font-size: var(--tray-icon-size);
    padding: 0 6px;
  }
}

// START / APP MENU

@keyframes pop-in-app-menu {
  0% {
    transform: translateY(var(--taskbar-height));
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#start-menu {
  position: absolute;
  bottom: var(--taskbar-height);
  left: 0px;

  width: 640px;
  height: calc(100vh - var(--taskbar-height));
  min-height: 50vh;
  z-index: 2;

  border-right: 1px solid rgba(255,255,255,.2);
  background-color: var(--start-menu-bg);
  backdrop-filter: var(--backdrop-blur);

  h2 {
    color: var(--window-fg-color);
    text-align: center;
  }

  &[data-closed] {
    position: absolute;
    bottom: -50vh;

    opacity: 0 !important;
    visibility: hidden;
    transition: all 200ms ease-in-out;
  }

  &[data-opened] {
    position: absolute;
    bottom: var(--taskbar-height);

    opacity: 1 !important;
    visibility: visible;
    transition: all 200ms ease-in-out;
  }

  &.hidden * { display: none !important; }
}

.start-sidebar {
  float: left;
  width: var(--startbutton-width);
  height: calc(100vh - var(--taskbar-height));
  background-color: var(--start-sidebar-bg);
}

#start-system-buttons {
  position: absolute;
  bottom: 24px;
  right: 24px;

  .system-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: var(--button-radius);
    transition: var(--standard-fade);
    &:hover { background-color: var(--icon-hover); }
  }
}

#start-side-favs {
  position: absolute;
  bottom: 0;
  width: var(--startbutton-width);
}

#start-side-settings {
  position: absolute;
  top: 0;
  width: var(--startbutton-width);
}

.start-side-item {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--start-sidebar-icon-size);
  height: var(--startbutton-width);

  color: var(--window-fg-color);
  transition: var(--standard-fade);

  &:hover { background-color: var(--icon-hover); }

  &.settings {
    background-image: url('../img/mono-icon-settings.webp');
    background-position: center;
    background-repeat: no-repeat;
  }

  &.favorites {
    background-image: url('../img/mono-icon-favorites.webp');
    background-position: center;
    background-repeat: no-repeat;
  }
}

#user-id {
  position: absolute;
  bottom: 24px;
  left: calc(var(--startbutton-width) + 24px);

  .user-icon {
    float: left;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    background: #999;
  }

  .user-name {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--window-fg-color);
    margin-left: 1em;
    float: right;
  }
}

#apps, #settings {
  transition: var(--standard-fade);
  &.hidden {
    display: unset !important;
  }
}

#app-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 0 2em;
}

.app-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  gap: 0.2em;

  border-radius: 0.3em;
  transition: var(--standard-fade);

  &:hover { background-color: var(--icon-hover); }
}

.app-icon {
  font-size: var(--start-app-icon-size);
  padding: 4px 4px 0 4px;
}

.app-text {
  font-size: small;
  text-align: center;
  //text-overflow: ellipsis;
  //white-space: nowrap;
  //overflow-x: hidden;
  position: absolute;
  bottom: 8px;

  color: white;
  max-width: 96px;
}

#start-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% - var(--startbutton-width);
  padding: 0.75em 0.75em 0 0.75em;

  input {
    width: 80%;
    height: 38px;
    padding: 0.5em 38px;
    margin-top: 2em;
    border-radius: 38px;
    border: none;
    color: var(--window-fg-color);
    background-color: rgba(255,255,255,0.15);
    background-image: url('../img/mono-icon-search.webp');
    background-repeat: no-repeat;
    background-position: left 10px center;

    &:focus {
      border: none;
      outline: none;
      background-color: rgba(255,255,255,0.2);
      box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
    }
  }
}

// OPEN APPLICATION

.open-window {
  position: absolute;
  width: 50vw;
  height: 50vh;

  background-color: var(--window-bg-color);
  color: var(--window-fg-color);

  border-radius: var(--window-border-radius);
  outline: 1px solid var(--window-outline);
  outline-offset: -1px;

  &.active {
    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.7),
                0 0 0 1px rgba(0, 0, 0, 0.1);
  }

  // maximized
  &.maximized {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    height: calc(100vh - var(--taskbar-height));
    width: 100vw;
    transform: none;
    transition: all 100ms linear;

    .header-bar { border-radius: 0; }
  }

  &.snap-left {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    height: calc(100vh - var(--taskbar-height));
    width: 50%;
    transform: none;
    transition: all 100ms linear;
  }

  &.snap-right {
    position: absolute !important;
    top: 0 !important;
    left: 50% !important;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    height: calc(100vh - var(--taskbar-height));
    width: 50%;
    transform: none;
    transition: all 100ms linear;
  }

  // minimize effect
  &.hidden,
  &.maximized.hidden {
    display: unset !important;

    position: absolute;
    top: unset !important;
    bottom: 0 !important;
    left: var(--startbutton-width) !important;

    width: 0 !important;
    height: 0 !important;
    transition: all 200ms linear;
  }

  &.active:not(.maximized) { transition: width 100ms, height 100ms linear; }
}

.snap-view {
  width: 0;
  height: 0;
  &.left {
    left: 0;
    top: 0;
  }
  &.right {
    right: 0;
    top: 0;
  }
  &.left, &.right {
    position: absolute;
    background-color: var(--snap-preview-color);
    box-shadow: var(--snap-preview-border);
    height: calc(100vh - var(--taskbar-height));
    width: 50%;
    transition: all 200ms linear;
  }
  &.top {
    position: absolute;
    background-color: var(--snap-preview-color);
    box-shadow: var(--snap-preview-border);
    height: 100vh;
    width: 100vw;
    transition: all 200ms linear;
  }
}

.tile-trigger-top {
  width: 100vw;
  height: 1px;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index:100;
}

.tile-trigger-left {
  width: 1px;
  height: calc(100vh - var(--taskbar-height));
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index:100;
}

.tile-trigger-right {
  width: 1px;
  height: calc(100vh - var(--taskbar-height));
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index:100;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: right;

  height: var(--header-bar-height);
  width: 100%;
  border-radius: var(--window-border-radius) var(--window-border-radius) 0 0;

  color: var(--header-fg-color);
  background-color: var(--header-bg-color);

  .left {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    background-color: var(--sidebar-bg-color);

    border-top-left-radius: var(--window-border-radius);
    height: var(--header-bar-height);
    width: var(--sidebar-width);
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: var(--header-bar-height);
    width: calc(100% - var(--sidebar-width));
    border-top-right-radius: var(--window-border-radius);

    background-color: var(--header-right-bg);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 8px;
    min-width: 2em;

    background-color: transparent;
    &:hover { background-color: var(--button-hover); }
  }
}

.maximized .header-bar,
.snap-left .header-bar,
.snap-right .header-bar {
  &, .left, .right { border-radius: 0; }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: var(--sidebar-width);
}

.window-controls {
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  right: 8px;
  height: var(--header-bar-height);
}

.close-button, .maximize-button, .minimize-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  margin-left: 6px;
  border-radius: var(--button-radius);

  cursor: default;
  transition: var(--standard-fade);

  &:hover { background-color: var(--button-hover); }
}

.sidebar {
  display: flex;
  justify-content: left;

  width: var(--sidebar-width);
  height: calc(100% - var(--header-bar-height));

  background-color: var(--sidebar-bg-color);
  border-bottom-left-radius: var(--window-border-radius);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    display: flex;
    align-items: center;
    padding: 12px;
    height: 38px;
  }
}

.open-window.maximized .sidebar,
.open-window.snap-left .sidebar,
.open-window.snap-right .sidebar {
  border-bottom-left-radius: 0;
}

// BUTTONS

button:hover { background-color: var(--button-hover); }

.hamburger {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;

  font-size: var(--font-size-md);
  border-radius: var(--button-radius);
  padding: var(--button-padding);
  border-radius: var(--button-radius);

  color: var(--header-fg-color);
  background-color: var(--button-color);
  border: none;

  transition: var(--standard-fade);
}

// POPOVER MENU

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[popover] {
  position: fixed;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: 0;
  padding: 0.25em;
  overflow: auto;
  color: var(--popover-fg-color);
  background-color: var(--popover-bg-color);
  border-radius: var(--menu-radius);
  box-shadow: var(--popover-shadow);
  outline: 1px solid var(--start-menu-outline);
  outline-offset: -1px;
  animation: fadeIn 100ms ease-in;
}

:popover-open {
  width: 200px;
  height: 100px;
  position: fixed;
  inset: unset;
  margin: 138px 0 0 6px;
}

.popover-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 8px;
}

// TOOLTIPS
// https://codepen.io/notouchz33/pen/BayLyow

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[tooltip] {
  $caret-height: 4px;
  $caret-width: 6px;
  $distance: 10px;
  $tooltip-bg-color: rgba(39, 39, 39, 1);
  
  position: relative;
  cursor: default;
  
  &:hover {
    &::before {
      content: attr(tooltip);
      font-size: 14px;
      text-align: center;
      position: absolute;
      display: block;
      left: 50%;
      min-width: 150px;
      max-width: 200px;
      bottom: calc(100% + #{$distance});
      transform: translate(-50%);
      animation: fade-in 300ms ease;
      background: $tooltip-bg-color;
      border-radius: 4px;
      padding: 10px;
      color: #ffffff;
      z-index: 1;
    }
    
    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      width: 0;
      height: 0;
      bottom: calc(100% + #{$distance - $caret-height});
      margin-left: - $caret-width/2;
      border: 1px solid black;
      border-color: $tooltip-bg-color transparent transparent transparent;
      border-width: $caret-height $caret-width 0;
      animation: fade-in 300ms ease;
      z-index: 1;
    }
  }
  
  &[tooltip-position="bottom"] {
    &:hover {
      &::before {
        bottom: auto;
        top: calc(100% + #{$distance});
      }
 
      &::after {
        bottom: auto;
        top: calc(100% + #{$distance - $caret-height});
        border-color: transparent transparent $tooltip-bg-color;
        border-width: 0 $caret-width $caret-height;
      }
    }
  }
}
